.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 0;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.naka {
    position: relative;
    vertical-align: middle;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}

h1,
#turn {
    text-align: center;
}

.naka>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#retry {
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    display: none;
    border: none;
    width: 150px;
    height: 50px;
    background-color: darkorange;
    color: white;
}